fastapi==0.115.5
uvicorn==0.32.1
numpy==1.26.4
pydantic==2.10.3
python-multipart==0.0.12
opencv-python-headless==4.8.1.78
ultralytics==8.0.196
matplotlib>=3.3.0
pillow>=7.1.2
pyyaml>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.8.0
torchvision>=0.9.0
tqdm>=4.64.0
pandas>=1.1.4
seaborn>=0.11.0
psutil
py-cpuinfo
thop>=0.1.1
